.container-header {
  background-color: #0a68ff;
  padding: 10px 0;
  .logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  .search {
    .btn-search {
      color: #fff;
      border: none;
      outline: none;
      background-color: green;
      &::hover {
        opacity: 0.8 !important;
      }
    }
  }
  .content-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    .cart {
      position: relative;

      &:hover ul {
        display: block;
      }
      ul {
        z-index: 999;
        position: absolute;
        top: 28px;
        display: none;
        width: 150%;
        background-color: #fff;
        padding: 8px 5px;
        border-radius: 5px;
        li {
          text-decoration: none;
          list-style: none;
          padding: 5px 0;
          color: #000;
        }
      }
    }

    .btn-header {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
    .icon {
      margin: 0 5px;
      font-size: 18px;
    }
  }
}
