.card-catagogy-container {
  .card-catagogy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
      width: 100px;
      height: 100px;
    }
    .title-product {
      font-size: 1.2rem;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
