.Cart_flashsale {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .title {
    font-size: 16px;
    min-height: 2.8rem;
    margin-left: 10px;
  }
  .special-priceprice {
    font-size: 16px;
    color: #c92127;
    margin-left: 10px;
    font-weight: 600;
    margin: 0 10px;

    .sales {
      margin-left: 20px;
      padding: 5px;
      background-color: red;
      color: #fff;
      border-radius: 5px;
    }
  }
  .old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
  }
}
