.card-product {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    cursor: pointer;
  }
  .img-product {
    img {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .title-product {
    color: #000;
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
    min-height: 2.8rem;
  }
  .special-price {
    font-size: 16px;
    color: #c92127;
    margin-left: 10px;
    font-weight: 600;
    margin: 0 10px;
    margin-top: 10px;

    .salse {
      padding: 5px;
      margin-left: 10px;
      background-color: #c92127;
      color: #fff;
      border-radius: 5px;
    }
  }
  .old-price {
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
  }
  .sales {
    font-size: 12px;
    color: #000;
  }
}
